<!doctype html>
<html>
  <head>
    <title>Pokeprueba con seguridad</title>
    <style type="text/css">
      body {
      	font-family: Trebuchet MS, sans-serif;
      	font-size: 15px;
      	color: #444;
      	margin-right: 24px;
      }
      
      h1	{
      	font-size: 25px;
      }
      h2	{
      	font-size: 20px;
      }
      h3	{
      	font-size: 16px;
      	font-weight: bold;
      }
      hr	{
      	height: 1px;
      	border: 0;
      	color: #ddd;
      	background-color: #ddd;
      }
      
      .app-desc {
        clear: both;
        margin-left: 20px;
      }
      .param-name {
        width: 100%;
      }
      .license-info {
        margin-left: 20px;
      }
      
      .license-url {
        margin-left: 20px;
      }
      
      .model {
        margin: 0 0 0px 20px;
      }
      
      .method {
        margin-left: 20px;
      }
      
      .method-notes	{
      	margin: 10px 0 20px 0;
      	font-size: 90%;
      	color: #555;
      }
      
      pre {
        padding: 10px;
        margin-bottom: 2px;
      }
      
      .http-method {
       text-transform: uppercase;
      }
      
      pre.get {
        background-color: #0f6ab4;
      }
      
      pre.post {
        background-color: #10a54a;
      }
      
      pre.put {
        background-color: #c5862b;
      }
      
      pre.delete {
        background-color: #a41e22;
      }
      
      .huge	{
      	color: #fff;
      }
      
      pre.example {
        background-color: #f3f3f3;
        padding: 10px;
        border: 1px solid #ddd;
      }
      
      code {
        white-space: pre;
      }
      
      .nickname {
        font-weight: bold;
      }
      
      .method-path {
        font-size: 1.5em;
        background-color: #0f6ab4;
      }
      
      .up {
        float:right;
      }
      
      .parameter {
        width: 500px;
      }
      
      .param {
        width: 500px;
        padding: 10px 0 0 20px;
        font-weight: bold;
      }
      
      .param-desc {
        width: 700px;
        padding: 0 0 0 20px;
        color: #777;
      }
      
      .param-type {
        font-style: italic;
      }
      
      .param-enum-header {
      width: 700px;
      padding: 0 0 0 60px;
      color: #777;
      font-weight: bold;
      }
      
      .param-enum {
      width: 700px;
      padding: 0 0 0 80px;
      color: #777;
      font-style: italic;
      }
      
      .field-label {
        padding: 0;
        margin: 0;
        clear: both;
      }
      
      .field-items	{
      	padding: 0 0 15px 0;
      	margin-bottom: 15px;
      }
      
      .return-type {
        clear: both;
        padding-bottom: 10px;
      }
      
      .param-header {
        font-weight: bold;
      }
      
      .method-tags {
        text-align: right;
      }
      
      .method-tag {
        background: none repeat scroll 0% 0% #24A600;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 2px;
        color: #FFF;
        display: inline-block;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
  <h1>Pokeprueba con seguridad</h1>
    <div class="app-desc">API que realiza 4 ejercicio accediendo a Poke-api y open-meteo, ademas de autenticacion</div>
    <div class="app-desc">More information: <a href="https://helloreverb.com">https://helloreverb.com</a></div>
    <div class="app-desc">Contact Info: <a href="hello@helloreverb.com">hello@helloreverb.com</a></div>
    <div class="app-desc">Version: 1.0.0</div>
    <div class="app-desc">BasePath:/</div>
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
  <h2>Access</h2>
    <ol>
      <li></li>
    </ol>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Auth">Auth</a></h4>
  <ul>
  <li><a href="#loginPost"><code><span class="http-method">post</span> /login</code></a></li>
  <li><a href="#registerPost"><code><span class="http-method">post</span> /register</code></a></li>
  <li><a href="#verifyEmailUsuarioCodigoGet"><code><span class="http-method">get</span> /verify_email/{usuario}/{codigo}</code></a></li>
  <li><a href="#verifyOtpPost"><code><span class="http-method">post</span> /verify_otp</code></a></li>
  </ul>
  <h4><a href="#Pokemon">Pokemon</a></h4>
  <ul>
  <li><a href="#pokemonLongNameTipoGet"><code><span class="http-method">get</span> /pokemon_long_name/{tipo}</code></a></li>
  <li><a href="#pokemonNombreGet"><code><span class="http-method">get</span> /pokemon/{nombre}</code></a></li>
  <li><a href="#randomBetterPokemonUbicacionGet"><code><span class="http-method">get</span> /random_better_pokemon/{ubicacion}</code></a></li>
  <li><a href="#randomPokemonTipoGet"><code><span class="http-method">get</span> /random_pokemon/{tipo}</code></a></li>
  </ul>

  <h1><a name="Auth">Auth</a></h1>
  <div class="method"><a name="loginPost"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /login</code></pre></div>
    <div class="method-summary">Inicia sesion con usuario (<span class="nickname">loginPost</span>)</div>
    <div class="method-notes">Endpoint para iniciar sesion y enviar codigo OTP.</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#login_body">login_body</a> (required)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
                </div>  <!-- field-items -->




    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_201_1">inline_response_201_1</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "msg" : "Correo con codigo enviado"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    Enviar codigo OTP
        <a href="#inline_response_201_1">inline_response_201_1</a>
    <h4 class="field-label">400</h4>
    Error en la solicitud
        <a href="#inline_response_400_1">inline_response_400_1</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="registerPost"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /register</code></pre></div>
    <div class="method-summary">Registra un nuevo usuario (<span class="nickname">registerPost</span>)</div>
    <div class="method-notes">Endpoint para registrar nuevo usuario.</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#register_body">register_body</a> (required)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
                </div>  <!-- field-items -->




    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_201">inline_response_201</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "msg" : "Registro exitoso"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    Usuario registrado exitosamente
        <a href="#inline_response_201">inline_response_201</a>
    <h4 class="field-label">400</h4>
    Error en la solicitud
        <a href="#inline_response_400">inline_response_400</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="verifyEmailUsuarioCodigoGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /verify_email/{usuario}/{codigo}</code></pre></div>
    <div class="method-summary">Verificar el correo electrónico del usuario (<span class="nickname">verifyEmailUsuarioCodigoGet</span>)</div>
    <div class="method-notes">Endpoint para verificar el correo electrónico del usuario utilizando un código de verificación.</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">usuario (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>      <div class="param">codigo (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->






    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200">inline_response_200</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "msg" : "Correo verificado exitosamente"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Verificación exitosa
        <a href="#inline_response_200">inline_response_200</a>
    <h4 class="field-label">400</h4>
    Código de verificación inválido
        <a href="#inline_response_400_3">inline_response_400_3</a>
    <h4 class="field-label">404</h4>
    Usuario no encontrado
        <a href="#inline_response_404">inline_response_404</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="verifyOtpPost"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /verify_otp</code></pre></div>
    <div class="method-summary">Verifica codigo OTP para terminar de iniciar sesion (<span class="nickname">verifyOtpPost</span>)</div>
    <div class="method-notes">Endpoint para verificar codigo OTP enviado al intentar iniciar sesion.</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">body <a href="#verify_otp_body">verify_otp_body</a> (required)</div>
      
            <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
                </div>  <!-- field-items -->




    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_201_2">inline_response_201_2</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "msg" : "Inicio de sesion exitoso"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    Inicio de sesion exitoso
        <a href="#inline_response_201_2">inline_response_201_2</a>
    <h4 class="field-label">400</h4>
    Error en la solicitud
        <a href="#inline_response_400_2">inline_response_400_2</a>
  </div> <!-- method -->
  <hr/>
  <h1><a name="Pokemon">Pokemon</a></h1>
  <div class="method"><a name="pokemonLongNameTipoGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /pokemon_long_name/{tipo}</code></pre></div>
    <div class="method-summary">Obtener un Pokémon con el nombre más largo por tipo (<span class="nickname">pokemonLongNameTipoGet</span>)</div>
    <div class="method-notes">Endpoint para obtener el Pokémon con el nombre más largo basado en su tipo.</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">tipo (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->






    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200_2">inline_response_200_2</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "tipo" : "fire",
  "pokemon" : "charmander"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Pokémon con el nombre más largo obtenido exitosamente
        <a href="#inline_response_200_2">inline_response_200_2</a>
    <h4 class="field-label">401</h4>
    No tienes acceso
        <a href="#inline_response_401">inline_response_401</a>
    <h4 class="field-label">404</h4>
    No se encontraron Pokémon del tipo especificado
        <a href="#inline_response_404_2">inline_response_404_2</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="pokemonNombreGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /pokemon/{nombre}</code></pre></div>
    <div class="method-summary">Obtener los tipos de un Pokémon por nombre (<span class="nickname">pokemonNombreGet</span>)</div>
    <div class="method-notes">Endpoint para obtener información de un Pokémon por su nombre.</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">nombre (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->






    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200_1">inline_response_200_1</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "pokemon" : "ditto",
  "tipos" : [ "normal" ]
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Información del Pokémon obtenida exitosamente
        <a href="#inline_response_200_1">inline_response_200_1</a>
    <h4 class="field-label">401</h4>
    No tienes acceso
        <a href="#inline_response_401">inline_response_401</a>
    <h4 class="field-label">404</h4>
    Pokémon no encontrado
        <a href="#inline_response_404_1">inline_response_404_1</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="randomBetterPokemonUbicacionGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /random_better_pokemon/{ubicacion}</code></pre></div>
    <div class="method-summary">Obtener un Pokémon aleatorio mejorado por ubicación (<span class="nickname">randomBetterPokemonUbicacionGet</span>)</div>
    <div class="method-notes">Endpoint para obtener un Pokémon aleatorio mejorado basado en su ubicación.</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">ubicacion (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->






    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200_3">inline_response_200_3</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "tipo" : "fire",
  "ubicacion" : "Medellin, Colombia",
  "pokemon" : "charmander",
  "temperatura" : 30.5
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Pokémon aleatorio mejorado obtenido exitosamente
        <a href="#inline_response_200_3">inline_response_200_3</a>
    <h4 class="field-label">401</h4>
    No tienes acceso
        <a href="#inline_response_401">inline_response_401</a>
    <h4 class="field-label">404</h4>
    No se encontraron Pokémon en la ubicación especificada
        <a href="#inline_response_404_3">inline_response_404_3</a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="randomPokemonTipoGet"></a>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /random_pokemon/{tipo}</code></pre></div>
    <div class="method-summary">Obtener un Pokémon aleatorio por tipo (<span class="nickname">randomPokemonTipoGet</span>)</div>
    <div class="method-notes">Endpoint para obtener un Pokémon aleatorio basado en su tipo.</div>

    <h3 class="field-label">Path parameters</h3>
    <div class="field-items">
      <div class="param">tipo (required)</div>
      
            <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash;  </div>    </div>  <!-- field-items -->






    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      <a href="#inline_response_200_2">inline_response_200_2</a>
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{
  "tipo" : "fire",
  "pokemon" : "charmander"
}</code></pre>

    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    Pokémon aleatorio obtenido exitosamente
        <a href="#inline_response_200_2">inline_response_200_2</a>
    <h4 class="field-label">401</h4>
    No tienes acceso
        <a href="#inline_response_401">inline_response_401</a>
    <h4 class="field-label">404</h4>
    No se encontraron Pokémon del tipo especificado
        <a href="#inline_response_404_2">inline_response_404_2</a>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
    <li><a href="#inline_response_200"><code>inline_response_200</code></a></li>
    <li><a href="#inline_response_200_1"><code>inline_response_200_1</code></a></li>
    <li><a href="#inline_response_200_2"><code>inline_response_200_2</code></a></li>
    <li><a href="#inline_response_200_3"><code>inline_response_200_3</code></a></li>
    <li><a href="#inline_response_201"><code>inline_response_201</code></a></li>
    <li><a href="#inline_response_201_1"><code>inline_response_201_1</code></a></li>
    <li><a href="#inline_response_201_2"><code>inline_response_201_2</code></a></li>
    <li><a href="#inline_response_400"><code>inline_response_400</code></a></li>
    <li><a href="#inline_response_400_1"><code>inline_response_400_1</code></a></li>
    <li><a href="#inline_response_400_2"><code>inline_response_400_2</code></a></li>
    <li><a href="#inline_response_400_3"><code>inline_response_400_3</code></a></li>
    <li><a href="#inline_response_401"><code>inline_response_401</code></a></li>
    <li><a href="#inline_response_404"><code>inline_response_404</code></a></li>
    <li><a href="#inline_response_404_1"><code>inline_response_404_1</code></a></li>
    <li><a href="#inline_response_404_2"><code>inline_response_404_2</code></a></li>
    <li><a href="#inline_response_404_3"><code>inline_response_404_3</code></a></li>
    <li><a href="#login_body"><code>login_body</code></a></li>
    <li><a href="#register_body"><code>register_body</code></a></li>
    <li><a href="#verify_otp_body"><code>verify_otp_body</code></a></li>
  </ol>

  <div class="model">
    <h3><a name="inline_response_200"><code>inline_response_200</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Correo verificado exitosamente</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_1"><code>inline_response_200_1</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">pokemon (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: ditto</span></div>
<div class="param">tipos (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">array[String]</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: [&quot;normal&quot;]</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_2"><code>inline_response_200_2</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">pokemon (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: charmander</span></div>
<div class="param">tipo (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: fire</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_200_3"><code>inline_response_200_3</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">pokemon (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: charmander</span></div>
<div class="param">tipo (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: fire</span></div>
<div class="param">temperatura (optional)</div><div class="param-desc"><span class="param-type"><a href="#BigDecimal">BigDecimal</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 30.5</span></div>
<div class="param">ubicacion (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Medellin, Colombia</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_201"><code>inline_response_201</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Registro exitoso</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_201_1"><code>inline_response_201_1</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Correo con codigo enviado</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_201_2"><code>inline_response_201_2</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Inicio de sesion exitoso</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_400"><code>inline_response_400</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Error al registrar</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_400_1"><code>inline_response_400_1</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Error al iniciar sesion</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_400_2"><code>inline_response_400_2</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Error con el codigo</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_400_3"><code>inline_response_400_3</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Código de verificación inválido</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_401"><code>inline_response_401</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: No tienes acceso a la api</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_404"><code>inline_response_404</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Usuario no encontrado</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_404_1"><code>inline_response_404_1</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Pokémon no encontrado</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_404_2"><code>inline_response_404_2</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: No se encontraron Pokémon del tipo especificado</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="inline_response_404_3"><code>inline_response_404_3</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">msg (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: No se encontraron Pokémon en la ubicación especificada</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="login_body"><code>login_body</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">usuario (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: juan123</span></div>
<div class="param">contrasena (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: contrasena123</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="register_body"><code>register_body</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">nombre (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: juan</span></div>
<div class="param">usuario (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: juan123</span></div>
<div class="param">contrasena (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: contrasena123</span></div>
<div class="param">conf_contrasena (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: contrasena123</span></div>
<div class="param">correo (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: juan.correo@dominio.com</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="verify_otp_body"><code>verify_otp_body</code></a> <a class="up" href="#__Models">Up</a></h3>
    
    <div class="field-items">
      <div class="param">usuario (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: juan123</span></div>
<div class="param">otp (optional)</div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: 999999</span></div>
    </div>  <!-- field-items -->
  </div>
  </body>
</html>
