<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Auth with MongoDB</title>
    <script>
        function showElement(elementId) {
            document.getElementById(elementId).style.display = 'block';
        }

        function hideElement(elementId) {
            document.getElementById(elementId).style.display = 'none';
        }

        function checkLoginStatus() {
            const token = localStorage.getItem('access_token');
            if (token) {
                hideElement('loginForm');
                hideElement('otpForm');
                hideElement('registerForm');
                showElement('protectedData');
            } else {
                showElement('loginForm');
                showElement('registerForm');
                hideElement('otpForm');
                hideElement('protectedData');
            }
        }

        async function register() {
            const nombre = document.getElementById('regNombre').value;
            const usuario = document.getElementById('regUsuario').value;
            const contrasena = document.getElementById('regContrasena').value;
            const correo = document.getElementById('regCorreo').value;

            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ nombre, usuario, contrasena, correo })
            });

            const data = await response.json();
            if (response.ok) {
                alert('Registro exitoso');
                document.getElementById('regNombre').value = '';
                document.getElementById('regUsuario').value = '';
                document.getElementById('regContrasena').value = '';
                document.getElementById('regCorreo').value = '';
            } else {
                alert('Error en el registro: ' + data.msg);
            }
        }

        async function login() {
            const usuario = document.getElementById('logUsuario').value;
            const contrasena = document.getElementById('logContrasena').value;

            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ usuario, contrasena })
            });

            const data = await response.json();
            if (response.ok) {
                alert('OTP enviado a tu correo');
                hideElement('loginForm');
                hideElement('registerForm');
                showElement('otpForm');
            } else {
                alert('Error en el login: ' + data.msg);
            }
        }

        async function verifyOtp() {
            const usuario = document.getElementById('logUsuario').value;
            const otp = document.getElementById('otp').value;

            const response = await fetch('/verify_otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ usuario, otp })
            });

            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('access_token', data.access_token);
                alert('Login exitoso');
                document.getElementById('otp').value = ''
                checkLoginStatus();
            } else {
                alert('Error en la verificación del OTP: ' + data.msg);
            }
        }

        async function fetchProtectedData(endpoint, inputId) {
            const token = localStorage.getItem('access_token');
            if (!token) {
                alert('Por favor inicia sesión primero');
                return;
            }

            const response = await fetch(endpoint, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            });

            const data = await response.json();
            if (response.ok) {
                document.getElementById('result').textContent = JSON.stringify(data);
            } else {
                alert('Error al obtener los datos: ' + data.msg);
            }
        }

        function logout() {
            localStorage.removeItem('access_token');
            checkLoginStatus();
            document.getElementById('result').textContent = '';
        }

        window.onload = checkLoginStatus;
    </script>
</head>
<body>
    <div id="registerForm" style="display: none;">
        <h2>Registro</h2>
        <input type="text" id="regNombre" placeholder="Nombre"><br>
        <input type="text" id="regUsuario" placeholder="Usuario"><br>
        <input type="password" id="regContrasena" placeholder="Contraseña"><br>
        <input type="email" id="regCorreo" placeholder="Correo"><br>
        <button onclick="register()">Registrar</button>
    </div>

    <div id="loginForm" style="display: none;">
        <h2>Login</h2>
        <input type="text" id="logUsuario" placeholder="Usuario"><br>
        <input type="password" id="logContrasena" placeholder="Contraseña"><br>
        <button onclick="login()">Iniciar Sesión</button>
    </div>

    <div id="otpForm" style="display: none;">
        <h2>Verificar OTP</h2>
        <input type="text" id="otp" placeholder="OTP"><br>
        <button onclick="verifyOtp()">Verificar</button>
    </div>

    <div id="protectedData" style="display: none;">
        <h2>Datos Protegidos</h2>
        <input type="text" id="pokemonName" placeholder="Nombre del Pokemon">
        <button onclick="fetchProtectedData('/pokemon/'+ document.getElementById('pokemonName').value, 'pokemonName')">Obtener Pokemon</button>
        <input type="text" id="pokemonType" placeholder="Tipo del Pokemon">
        <button onclick="fetchProtectedData('/random_pokemon/'+ document.getElementById('pokemonType').value, 'pokemonType')">Obtener Pokemon Aleatorio</button>
        <input type="text" id="pokemonLongType" placeholder="Tipo para nombre largo">
        <button onclick="fetchProtectedData('/pokemon_long_name/'+ document.getElementById('pokemonLongType').value, 'pokemonLongType')">Pokemon con Nombre Largo</button>
        <button onclick="fetchProtectedData('/random_better_pokemon', '')">Obtener Pokemon Mejor</button>
        <button onclick="logout()">Cerrar Sesión</button>
    </div>

    <div>
        <pre id="result"></pre>
    </div>
</body>
</html>
